.contacts
    a.contact(href="tel:+79126856598")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 6337 3128
    a.contact(href="mailto:info@business.com")
        i.fa.fa-envelope.contact__icon.contact__icon--emailcontact__icon(aria-hidden="true")
        span.contact__text info@business.com
    a.fa.fa-facebook.facebook-icon(href="facebook.com" aria-hidden="true")