-var linkItems = ['facebook-official', 'twitter', 'google', 'linkedin']
    -var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'linkedin.com']
footer.footer
    .footer__top
        .container
            .footer__title Get in touch
                .footer__links
                    each item, key in linkItems
                        a(href="http://" + linkUrls[key] target="_blank")
                            i(class="fa fa-" + item)
                                span.visually-hidden=linkItems
                .footer__text Subscribe to our newsletters
                form(action="#" method="post")
                    .footer__field: input.footer__input(type="email" placeholder="Email addres")
                    button(type="submit").button Subscribe
    .footer__bottom All rights reserved