section.form-section
    .container
        .title
            h2.title.title__header Get your facebook analitics
            .title__text Enter your details below
        .btn-down: a.arrow-down(href='#'): i.fa.fa-angle-down
        .form-container.is-hidden
            form(method="post" action="#").form
               button(type="button").form__close-button x
               .form__text.
                   kjfg  ihgfi;lhgsd;o oihg;oigh;ldfhi g;oihg
                   fg hiuiluguig iug ugogkg
               .form__fields
                   input.form__input(type="text" placeholder="Your Name")
                   input.form__input(type="text" placeholder="Your number")
                   input.form__input(type="text" placeholder="Contact Name")
               button(type="submit").button.button--text-uppercase.button--red Submit now


